{% extends 'base.html' %}

{% block title %}Inicio - Recetas{% endblock %}

{% block content %}
  <h2>Últimas Recetas</h2>
  {% for receta in recipes %}
    <div class="card">
      <h3>{{ receta.title }}</h3>
      <p><strong>Categoría:</strong> <a href="{{ url_for('main.category', cat_id=receta.category.id) }}">{{ receta.category.name }}</a></p>
      <p><strong>Ingredientes:</strong> {{ receta.ingredients }}</p>
      <p><strong>Preparación:</strong> {{ receta.preparation }}</p>
      <p><a href="{{ url_for('main.delete_recipe', recipe_id=receta.id) }}">🗑️ Eliminar</a></p>
    </div>
  {% else %}
    <p>No hay recetas aún. ¡Agrega una!</p>
  {% endfor %}
{% endblock %}
