{% extends 'base.html' %}
{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<h2>Iniciar sesión</h2>

<form method="POST">
  {{ form.hidden_tag() }}

  <label>{{ form.email.label }}</label>
  {{ form.email() }}

  <label>{{ form.password.label }}</label>
  <div class="password-wrapper">
    {{ form.password(class_="password-input") }}
    <span class="toggle-password" onclick="togglePassword(this)">👁️</span>
  </div>

  {{ form.submit(class_='button') }}
</form>

<p>¿No tienes cuenta? <a href="{{ url_for('auth.register') }}">Regístrate aquí</a>.</p>
{% endblock %}
